ul.feature-icons li:before {
    background: #3fc3d1;
}

#header {
    background: #3fc3d1;
    color: #d2f2e9;
}

#header header p {
    color: #b7eadc;
}

#header>footer .icons li a {
    color: #b7eadc;
}

#header>nav ul li {
    border-top: solid 2px #5ccfb1;
}

#header>nav ul li a.active {
    color: #4acaa8 !important;
}